<html xmlns:fo="http://www.w3.org/1999/XSL/Format"><HEAD><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></HEAD></html><body xmlns:fo="http://www.w3.org/1999/XSL/Format">
<p><a name="0"><span title="я S, abbr, nom, gen, dat, acc, ins, abl, sg, pl
я SPRO, nom, sg, 1p">Я</span> 
							 
						<span title="стать V, praet, sg, indic, f, pf, intr">стала</span> 
							 
						<span title="интересоваться V, inf, ipf, intr">интересоваться</span> 
							 
						<span title="5-9 ">5-9</span> 
							 
						<span title="класс S, ins, sg, m, inan">классом</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="хотеть V, praes, inpraes, ger, ipf, tran
хотя PART
хотя CONJ">хотя</span> 
							 
						<span title="рано ADV, comp
ранний A, comp">раньше</span> 
							 
						<span title="заниматься V, praet, sg, indic, f, ipf, intr">занималась</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="основное S, abl, sg, n, inan
основной A, abl, sg, plen, m, n
основный A, abl, sg, plen, m, n">основном</span> 
							 
						<span title="абитуриент S, ins, pl, m, anim">абитуриентами</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="1"><span title="но INTJ
но CONJ">Но</span> 
							 
						<span title="мой APRO, nom, acc, sg, m, inan">мой</span> 
							 
						<span title="фокус S, nom, acc, sg, m, inan">фокус</span> 
							 
						<span title="внимание S, nom, gen, acc, sg, pl, n, inan">внимания</span> 
							 
						<span title="сместиться V, praet, sg, indic, m, pf, intr">сместился</span> 
							 
						<span title="на PART
на PR">на</span> 
							 
						<span title="младший A, nom, acc, sg, plen, m, inan">младший</span> 
							 
						<span title="возраст S, nom, acc, sg, m, inan">возраст</span> 
							 
						<span title="из-за PR">из-за</span> 
							 
						<span title="участие S, nom, gen, acc, sg, pl, n, inan">участия</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="событийный A, abl, sg, plen, m, n">событийном</span> 
							 
						<span title="образование S, abl, sg, n, inan">образовании</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="2"><span title="и INTJ
и PART
и S, abbr, nom, gen, dat, acc, ins, abl, sg, pl
и CONJ">И</span> 
							 
						<span title="проблема S, nom, sg, f, inan">проблема</span> 
							 
						<span title="кризис S, gen, sg, m, inan">кризиса</span> 
							 
						<span title="семья S, nom, gen, acc, sg, pl, f, inan">семьи</span> 
							 
						<span title="очень ADV">очень</span> 
							 
						<span title="значить V, praes, inpraes, sg, pl, partcp, indic, brev, 1p, m, ipf, pass, tran
значимый A, sg, brev, m">значим</span> 
							 
						<span title="для PR">для</span> 
							 
						<span title="я SPRO, gen, acc, sg, 1p">меня</span> 
							 
						<span title="и INTJ
и PART
и CONJ">и</span> 
							 
						<span title="я SPRO, dat, abl, sg, 1p">мне</span> 
							 
						<span title="бы PART">бы</span> 
							 
						<span title="хотеться V, praet, sg, indic, n, ipf, intr">хотелось</span> 
							 
						<span title="помогать V, inf, ipf, intr">помогать</span> 
							 
						<span title="ребенок S, dat, pl, m, anim">детям</span> 
							 
						<span title="эта S, acc, sg, f, inan
этот APRO, acc, sg, f">эту</span> 
							 
						<span title="проблема S, acc, sg, f, inan">проблему</span> 
							 
						<span title="решать V, inf, ipf, tran">решать</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<table border="1"><tbody>
<tr align="center">
<th>Text</th>
<th>Type</th>
</tr>
<tr align="center">
<td><a href="#1">мой фокус</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#1">младший возраст</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#1">событийный образование</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#2">эта проблема</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
</tbody></table>
</body>
